<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 4px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }

        #weather {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    </style>
</head>
<body>
    <h2>{{ weatherJson['city']['name'] }}</h2>
    <h3>{{ weatherJson['city']['country'] }}</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Weather</th>
            <th>Wind Speed</th>
        </tr>
        {% for item in weatherJson['list'] %}
            <tr>
                <td>{{ item["dt_txt"] }}</td>
                <td>{{ item['weather'][0]['description'] }}</td>
                <td>{{ item["main"]["temp"] }}°C</td>
                <td>{{ item["main"]["humidity"] }}%</td>
                <td><div id="weather"><img src="/static/icons/{{ item['weather'][0]['icon'] }}.png"></img> {{ item["weather"][0]["main"] }}</div></td>
                <td>{{ '%.2f' % (item["wind"]["speed"]*3.6) }} km/h ({{ item["wind"]["deg"] }} deg)</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>