

html, body {
    min-height: 100%;
    background-color: rgb(156, 156, 236);
    border-radius: 12%;
    
}

.container {
    /* min-height: 80%; */
    /* padding: 1em; */
    background-color: white;
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 0.6em;
}
.inner-container{
    padding: 2em;
}

.left {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}

.forecast {
    margin: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 1em;
}

.today {
    background-color: rgb(96, 96, 233);
    border-radius: 0.5em;
}

.other-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

input[type="search"] {
    padding: 0.5em;
    border-radius: 0.5em;
}

.location {
    padding: 0 2em 2em 2em;
}